version: "3.8"

services:
  runner:
    image: gitea/act_runner:0.2.13
    container_name: gitea-runner-01
    restart: unless-stopped
    environment:
      GITEA_INSTANCE_URL: "http://10.0.0.225:3000"
      GITEA_RUNNER_REGISTRATION_TOKEN: "xxxx"
      GITEA_RUNNER_NAME: "runner-01"
      # Labels define which jobs this runner can take
      # Default container = Ubuntu 22.04 (GitHub standard)
      GITEA_RUNNER_LABELS: "ubuntu-latest:docker://ubuntu:22.04"
      ACT_EXECUTOR: docker
    volumes:
      - /mnt/storage/code-runner/data:/data:rw
      - /var/run/docker.sock:/var/run/docker.sock

    # Resource limits (Docker / TrueNAS compatible)
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 4G
